
<!--Title-->
<title> <%- title %></title>


<body>




    
    <!--Navigacija-->
    <div class="navigation fixed-top">
        <div class="container-fluid" >
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            
                <!--Logo-->
                <div>
                    <a href = '/'>
                    <img class="navbar-brand logoSlika" src = '/images/site/WOPlogo.svg'></img>
                    </a>
                </div>
                
                        


            

                <!--Ostali deo menia-->
                <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                    <!--Pretrazivac-->
                    <form class="form-inline" action ='/svi_poslovi' method='GET'>
                        <input class="form-control  mr-sm-5" style="background-color: rgba(28, 26, 61, 0.123); color: aliceblue; width: 20rem;" type="search" placeholder="Pratraži poslove" aria-label="Search" name='kljucneReci'>
                    </form>    
                    <!-- /Pretrazivac--> 

                <div class="navbar-nav ml-auto">
                    
                    <a class="nav-item nav-link" href="/">Početna</a>
                    <a class="nav-item nav-link " href="/o_nama">O nama</a>
                    <a class="nav-item nav-link " href="/kontakt">Kontakt</a>
                    <!--  Deo koji gost vidi  -->
                   
                    <a class="nav-item nav-link active" href="/logIn">Prijavi se</a>
                    <a class="nav-item nav-link" href="/registracija" style="color : rgb(0, 153, 255)">Registruj se</a>
                    <!-- /Deo koji gost vidi -->
                   
                </div>
                </div> 
                <!--/Ostali deo menija-->

               
                
                <!-- Button response -->

                <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- /Button response -->
                
                
                
            </nav>
            <!--/Navbar--> 
            
        </div>
        <!--/Container-->
        <!-- Razdvajanje menija od sadrzaja-->
    </div>
    <!--/Navigacija------------------------------------------------------------------------------------------------------------------>

   



    <!-- LogIn-->
  
    <div class="container ">
        <form action='/logIn' method ='POST' style="display: flex; justify-content: center;" >
            <div class="form-group col-sm-6  log-form"  >
            <!-- Naslov-->
                <div class = 'text-center mb-4 text-warning'><> Web oglasi za posao <&#47></div>
            <!-- /Naslov-->




            <!-- Email -->
                <label class>Email</label>
                <input type="email" class="form-control center-style" name = 'email'
                <%if (obavestenje != '') {%> 
                    value = <%-obavestenje.email %> autofocus
                <%}%> 

                <%if (greska.email != '') {%> 
                    value = '<%-greska.email %>' 
                <%}%> 
            <!-- /Email -->
                
            <!-- Greska neispravan email-->
                <%if (greska.textEmail != '') {%> 
                    <span class="small text-danger"><%-greska.textEmail %></span>
                <%}%> <br>
            <!-- /Greska neispravan email-->




            <!-- Lozinka -->
                <label>Lozinka</label>
                <input type="password" class="form-control center-style" name = 'lozinka' id ='logInLozinka'
                <% if(greska.textLozinka != ''){%>
                    value = '<%-greska.lozinka%>' 
                <%}%>
                >
            
            <!-- Prikazi/sakrij lozinku-->
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password text-warning" onclick="prikaziSakrij()">

                </span>
                

            <!-- /Prikazi/sakrij lozinku-->



            <!-- /Lozinka -->
            <!-- Greska neispravan email-->
                <%if (greska.textLozinka != '') {%> 
                    <span class="small text-danger"><%-greska.textLozinka %></span>
                <%}%> <br>
            <!-- /Greska neispravan email-->
    



            <!-- Prijavi se-->
                <button type="submit" class = 'btn btn-primary mt-1' style="width: 100%;" >Uloguj se</button>
            <!-- /Prijavi se-->  
            <% if(obavestenje == '') {%>  
            <br><br>
            <!-- Label za registraciju-->
                <span>Još nemate nalog <a href = '/registracija'>registrujte se ovde!</a></span>
            <!-- Label za registraciju-->
            <%}%>

            </div>
        </form>
    </div>
   

    <!-- /LogIn-->
    









    
   
      
      <!-- Footer -->
      <div class="container-fluid fixed-bottom small footer " style=" margin: 1px; padding: 10px; border-top: rgb(117, 117, 117) 2px solid;">
        <!-- Linija -->
      
        <div class="row text-center">
            <div class="col-lg-4 col-sm-4 text-">
                nikolavlad63@gmail.com
            </div>
            <div class="col-lg-4 col-sm-4 text">
                Web oglasi za posao - 2020 <sup>&copy</sup> 
            </div>
            
            <div class="col-lg-4 col-sm-4">
                <a href="https://instagram.com/__nik0lv?igshid=1lzhwdmj6zw2o&amp;fbclid=IwAR3qzJemENnY9hk63ATgLgRVBJM-xfb940iFVN8ZRxBRqSKJ6kYHrtHd25A"><i class="fab fa-instagram ml-3" style="color:blueviolet"></i></a>
                <a href="https://www.facebook.com/nikola.vladimirov.589/"><i class="fab fa-facebook ml-3"></i></a>
            </div>
        </div>
    </div>
    <!-- Footer -->




</body>