

<!--Title-->
<title> <%- title %></title>

<body>

    
    <!--Navigacija-->
    <div class="navigation fixed-top">
        <div class="container-fluid" >
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
               
                <!--Logo-->
                <a class="navbar-brand" href="#">
                    <b >Web oglasi za posao</b>
                </a>
                
                         


              

                <!--Ostali deo menia-->
                <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                    <!--Pretrazivac-->
                    <form class="form-inline" action ='' method=''>
                    <input class="form-control mr-sm-2" style="background-color: rgba(28, 26, 61, 0.123); color: aliceblue;" type="search" placeholder="Pratraži poslove" aria-label="Search">
                    </form>    
                    <!-- /Pretrazivac--> 

                  <div class="navbar-nav ml-auto">
                      
                    <a class="nav-item nav-link active" href="#">Početna <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link " href="#">O nama</a>
                    <!--  Deo koji gost vidi  -->
                    <a class="nav-item nav-link" href="#">Prijavi se</a>
                    <a class="nav-item nav-link" href="#" style="color : rgb(0, 153, 255)">Registruj se</a>
                    <!--/End-->
                  </div>
                </div> 
                <!--/Ostali deo menija-->

                <!--Deo koji gost ne vidi-->
                    <!--Dropdown avatara-->
                    <div class="dropdown show">
                        <img class="avatar" src = '../static/img/avatar.jpg' href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </img>
                        <div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-black" href="#">Moj profil</a>
                            <a class="dropdown-item text-danger" href="#">Odjavi se</a>
                          </div>
                    </div>
                    <!-- /Dropdown avatar-->
                <!-- /Deo koji gost ne vidi-->    

                <!-- Button response -->

                <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon"></span>
                </button>

                 <!-- /Button response -->
                   
                
                
              </nav>
            <!--/Navbar--> 
            
        </div>
        <!--/Container-->
        <!-- Razdvajanje menija od sadrzaja-->
    </div>
    <!--/Navigacija------------------------------------------------------------------------------------------------------------------>
    



    
    <!-- Telo oglasa-->
    <div class="container-fluid">
        
        <!-- Row -->
        <div class="row">
            
            <!-- Leva strana (*Vestine)-->
            <div class = "col-xl-3 mb-5">
                <div class="card text-white bg-dark mb-3" >
                    <div class="card-header ">Veštine i tehnologije :</div>
                    <div class="card-body">

                      <h5 class="card-title  text-secondary">Obavezne : </h5>

                      <!-- Obavezne -->
                      <p class="card-text" style="color: rgba(0, 255, 149, 0.753);">
                          <%for (vestina of posao[0].potrebne_vestine) {%>
                            <a href = '/svi_poslovi?kljucneReci=<%-vestina%>' class='text-success'>#<%-vestina%></a><br>
                          <%}%>
                      </p>
                      <hr style=" background-color: rgb(92, 92, 92);">




                      <!-- Pozeljne -->
                      <h5 class="card-title  text-secondary">Poželjne : </h5>
                      <p style=" color :rgba(255, 255, 255, 0.815)">
                          <%-posao[0].pozeljne_vestine%>
                      </p>
                    </div>
                </div>
            </div>
            <!-- /Leva strana(vestine)-->

                <!-- Glavni deo (infomacije o oglasu-->
                
                <div class = "col-xl-6 mb-5">
                    <!-- Kartica -->
                    <div class="card text-left bg-dark ">
                        <!-- Naziv oglasa -->
                        <div class = 'text-center h4'><> <spna class="text-success"><%-posao[0].naziv%></spna> <> </div>
                        
                        <!-- Korisnik koji je postavio i datum postavljanja-->
                        <div class="card-header" >
                            Oglas postavio :  <a href='/svi_korisnici/korisnik/<%-korisnik[0].id%>'><b class="text-warning"><%-korisnik[0].ime%></b></a>
                            <span class="ml-5 text-right small "><%-posao[0].datum%></span>
                      
                        </div>
                        <!-- /Korisnik i datum-->
            
                        <!-- Informacije o oglasu-->
                        <div class="card-body ">
                            <!-- Kategoriji kojoj pripada -->
                            <a href='/sve_kategorije/kategorija/<%-kategorija[0].id%>'>#<%-kategorija[0].naziv%></a>
                            <br><br>
                            <!-- /Kategoriji kojoj pripada -->

                            <!-- Kratak opis -->
                            <p class="text-secondary">Kratak opis :</p>
                            <p>
                                <%-posao[0].kratak_opis%>
                            </p>
                            <p class = 'text-secondary'>Pun opis posla : </p>
                            <p>
                                <%-posao[0].pun_opis%>
                            </p>
                         
                        </div>
                        <div class="card-footer ">
                            <!-- Izmena i brisanej (admin) i odredjeni korisnik-->
                            

                            <!--Akcije u vezi posla-->
                            
                                <!-- Forma za prijavu na posao-->
                                <form class = 'form text-center' action ='' method=''>
                                    <button type="submit" class="btn btn-danger">Prijavi se</button>
                                 </form>
                                  <!-- /Forma za prijavu na posao-->
                                <div class = 'justify-content-end d-flex'>
                                <!-- Brisanje i izmena-->
                                <!-- Izmena -->
                                <a href = '/svi_poslovi/posao/<%-posao[0].id%>/izmena_posla'class="btn"><i class="fas fa-pen text-info mr-1 "></i></a>

                                <!-- Brisanje -->
                                <form action="/svi_poslovi/posao/<%-posao[0].id%>/brisanje_posla" method="POST" class=" form form-inline">
                                    <button type="submit" class="btn"><i class="fas fa-trash text-danger mr-3"></i></button>
                                </form>
                                <!-- /Brisanej i izmena-->
                            </div>
                        </div>
                      </div>
                </div>
                <!-- /Glavni deo-->

                 <!-- Desna strana (*Vestine)-->
                 <div class = "col-xl-3 mb-5">
                     <!-- Kartica -->
                    <div class="card text-white bg-dark mb-3">
                        <!-- Naslov kartice -->
                        <div class="card-header">Prijavljeni korisnici : <b><%-brPrijava%></b></div>
                        <!-- Telo kartice-->
                        <div class="card-body">
                          <!-- Korisnici -->
                          <% for(prijavljeniKorisnik of prijaveKorisnici) {%>
                          <div class="row">
                              <div class="col-6">
                                <a href = '/svi_korisnici/korisnik/<%-prijavljeniKorisnik.id%>'>
                                    <%-prijavljeniKorisnik.ime%> <%-prijavljeniKorisnik.prezime%>
                                </a>
                              </div>
                              <!-- AKCIJE PRIJAVE -->
                              <div class="col-6 justify-content-end d-flex">

                                <!-- Forma za prihvatanje -->
                                <form action ='' method =''>
                                    <button type="submit" class="btn ">
                                        <i class="fas fa-check-circle text-success h4"></i>
                                    </button>
                                </form>
                                <!-- /Forma za prihvatanje -->
                                

                                <!-- Forma za odbijanje prijave-->
                                <form action ='' method =''>
                                    <button type="submit" class="btn ">
                                        <i class="fas fa-times-circle text-danger h4"></i>
                                    </button>
                                </form>
    
                               
                                <!-- /Forma za odbijanje prijave-->
                              </div>
                              <!-- /AKCIJE PRIJAVE -->
                        </div>
                        <%}%>
                        <!-- /Row -->

                        </div>
                        <!-- /Telo kartice-->
                      </div>
                      <!-- /Kartica-->
                    </div>
                <!-- /Desna strana(vestine)-->
        </div>
        <!-- /Row -->
    </div>
    <!-- /Telo oglasa-->
    
    
    
    <!-- Footer -->
    <div class="container-fluid fixed-bottom footer">
        <!-- Linija -->
        <hr class='bg-white'>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-4 text-secondary">
                nikolavlad63@gmail.com
            </div>
            <div class="col-lg-4 col-sm-4 text-secondary">
                Web oglasi za posao - 2020 <sup>&copy</sup> 
            </div>
            
            <div class="col-lg-4 col-sm-4">
                <a href=""><i class="fab fa-instagram ml-3" style="color:blueviolet"></i></a>
                <a href=""><i class="fab fa-facebook ml-3"></i></a>
                <span class = 'text-secondary'><i class="fas fa-phone-alt ml-3"></i> 0123-456</span> 
            </div>
        </div>
    </div>
    <!-- Footer -->    


</body>