<!--Title-->
<title> <%- title %></title>


<body>


    <!--Navigacija-->
    <div class="navigation fixed-top">
        <div class="container-fluid" >
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
               
                <!--Logo-->
                <div>
                    <a href = '/'>
                       <img class="navbar-brand logoSlika" src = '/images/site/WOPlogo.svg'></img>
                    </a>
                </div>
                
                         


              

                <!--Ostali deo menia-->
                <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                    <!--Pretrazivac-->
                    <form class="form-inline" action ='/svi_poslovi' method='GET'>
                        <input class="form-control  mr-sm-5" style="background-color: rgba(28, 26, 61, 0.123); color: aliceblue; width: 20rem;" type="search" placeholder="Pratraži poslove" aria-label="Search" name='kljucneReci'>
                    </form>    
                    <!-- /Pretrazivac--> 

                  <div class="navbar-nav ml-auto">
                      
                    <a class="nav-item nav-link" href="/">Početna</a>
                    <a class="nav-item nav-link " href="/o_nama">O nama</a>
                    <a class="nav-item nav-link " href="/kontakt">Kontakt</a>
                    <!--  Deo koji gost vidi  -->
                    <% if(!ulogovaniKorisnik) { %>
                    <a class="nav-item nav-link" href="/logIn">Prijavi se</a>
                    <a class="nav-item nav-link" href="/registracija" style="color : rgb(0, 153, 255)">Registruj se</a>
                    <!-- /Deo koji gost vidi -->
                    <%}%>
                  </div>
                </div> 
                <!--/Ostali deo menija-->

                <% if (ulogovaniKorisnik) {%>
                <!--Deo koji gost ne vidi-->
                    <!--Dropdown avatara-->
                    <div class="dropdown show">
                    
                        <img class="avatar" 

                            <% if (ulogovaniKorisnik.slika != '') { %>
                                src = '/images/uploads/korisnici/<%-ulogovaniKorisnik.slika%>' 
                            <% } else { %>
                                src = '/images/site/noPhoto.jpg' 
                            <% } %>

                            href="#" role="button" id="dropdownMenuLink" 
                            data-toggle="dropdown" aria-haspopup="true" 
                            aria-expanded="false">
                        </img>



                        <div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-black" href="/svi_korisnici/profil/<%-ulogovaniKorisnik.id%>">Moj profil</a>
                            
                            <% if (ulogovaniKorisnik.rola == 'admin') {%>
                                <a class="dropdown-item text-black" href="/svi_korisnici">Vidi sve profile</a>
                            <% } %>
                            <a class="dropdown-item text-danger" href="/logOut">Odjavi se</a>
                            
                          </div>
                    </div>
                    <!-- /Dropdown avatar-->
                <!-- /Deo koji gost ne vidi-->    
                <% } %>
                
                <!-- Button response -->

                <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon"></span>
                </button>

                 <!-- /Button response -->
                   
                
                
              </nav>
            <!--/Navbar--> 
            
        </div>
        <!--/Container-->
        <!-- Razdvajanje menija od sadrzaja-->
    </div>
    <!--/Navigacija-->

      <!-- Naslov -->
    <div class="container mt-4 mb-4 text-center">
        <h1 style="border-radius: 30px; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.274);">Slika profila</h1>
    </div>


    <!-- Telo dodavanja slike -->
    <div class="container center " >
        <!-- Forma za dodavanje slike -->
            <form action = '/svi_korisnici/profil/<%-korisnik[0].id%>/slika' method='POST' enctype="multipart/form-data" style="display: flex; justify-content: center;"> 

                <!-- Slika -->
                <div class="form-group col-sm-6" >
                    <!-- Slika -->
                    <div class="  d-flex justify-content-center">
                        <div class="form-group mt-3">
                            <!--Dodavanje/ Izmena slike-->
                            <label for="slika">
                                <img style="border: 3px solid rgba(165, 165, 165, 0.719); padding: 2px;" 
                                <% if (korisnik[0].slika != '') { %>
                                src="/images/uploads/korisnici/<%-korisnik[0].slika%>" 
                                <% } else {%>
                                src="/images/site/place1.png"
                               <% } %>
                                id="slika_pregled"
                                width = '290'
                                height = '240' 
                                
                                />
                                </label>
                            <br>
                            <label for="slika" class="btn btn-outline-light" style="width: 100%;"><i class="fas fa-upload"></i></label>
                            <input type="file" hidden accept="image/*" class="" id="slika" name="slika">
                            <button type="submit" class="btn btn-success mb-3 mt-4" style="width: 100%;">Gotovo</button>
                        </div>


                    </div>
                </div>
                <!-- /Slika-->
            </form>
        <!-- /Forma za dodavanje slike -->
    </div>
    <!-- /Telo dodavanja slike-->














        
 
       
      <!-- Footer -->
      <div class="container-fluid fixed-bottom small footer " style=" margin: 1px; padding: 10px; border-top: rgb(117, 117, 117) 2px solid;">
        <!-- Linija -->
      
        <div class="row text-center">
            <div class="col-lg-4 col-sm-4 text-">
                nikolavlad63@gmail.com
            </div>
            <div class="col-lg-4 col-sm-4 text">
                Web oglasi za posao - 2020 <sup>&copy</sup> 
            </div>
            
            <div class="col-lg-4 col-sm-4">
                <a href="https://instagram.com/__nik0lv?igshid=1lzhwdmj6zw2o&amp;fbclid=IwAR3qzJemENnY9hk63ATgLgRVBJM-xfb940iFVN8ZRxBRqSKJ6kYHrtHd25A"><i class="fab fa-instagram ml-3" style="color:blueviolet"></i></a>
                <a href="https://www.facebook.com/nikola.vladimirov.589/"><i class="fab fa-facebook ml-3"></i></a>
            </div>
        </div>
    </div>
    <!-- Footer -->


</body>