
<!--Title-->
<title> <%- title %></title>


<body>
  

    <!--Navigacija-->
    <div class="navigation fixed-top">
      <div class="container-fluid" >
          <!--Navbar-->
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
             
              <!--Logo-->
              <div>
                  <a href = '/'>
                     <img class="navbar-brand logoSlika" src = '/images/site/WOPlogo.svg'></img>
                  </a>
              </div>
              
                       


            

              <!--Ostali deo menia-->
              <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                  <!--Pretrazivac-->
                  <form class="form-inline" action ='/svi_poslovi' method='GET'>
                      <input class="form-control  mr-sm-5" style="background-color: rgba(28, 26, 61, 0.123); color: aliceblue; width: 20rem;" type="search" placeholder="Pratraži poslove" aria-label="Search" name='kljucneReci'>
                  </form>    
                  <!-- /Pretrazivac--> 

                <div class="navbar-nav ml-auto">
                    
                  <a class="nav-item nav-link" href="/">Početna</a>
                  <a class="nav-item nav-link " href="/o_nama">O nama</a>
                  <a class="nav-item nav-link " href="/kontakt">Kontakt</a>
                  <!--  Deo koji gost vidi  -->
                  <% if(!ulogovaniKorisnik) { %>
                  <a class="nav-item nav-link" href="/logIn">Prijavi se</a>
                  <a class="nav-item nav-link" href="/registracija" style="color : rgb(0, 153, 255)">Registruj se</a>
                  <!-- /Deo koji gost vidi -->
                  <%}%>
                </div>
              </div> 
              <!--/Ostali deo menija-->

              <% if (ulogovaniKorisnik) {%>
              <!--Deo koji gost ne vidi-->
                  <!--Dropdown avatara-->
                  <div class="dropdown show">
                  
                      <img class="avatar" 

                          <% if (ulogovaniKorisnik.slika != '') { %>
                              src = '/images/uploads/korisnici/<%-ulogovaniKorisnik.slika%>' 
                          <% } else { %>
                              src = '/images/site/noPhoto.jpg' 
                          <% } %>

                          href="#" role="button" id="dropdownMenuLink" 
                          data-toggle="dropdown" aria-haspopup="true" 
                          aria-expanded="false">
                      </img>



                      <div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item text-black" href="/svi_korisnici/profil/<%-ulogovaniKorisnik.id%>">Moj profil</a>
                          
                          <% if (ulogovaniKorisnik.rola == 'admin') {%>
                              <a class="dropdown-item text-black" href="/svi_korisnici">Vidi sve profile</a>
                          <% } %>
                          <a class="dropdown-item text-danger" href="/logOut">Odjavi se</a>
                          
                        </div>
                  </div>
                  <!-- /Dropdown avatar-->
              <!-- /Deo koji gost ne vidi-->    
              <% } %>
              
              <!-- Button response -->

              <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
                  <span class="navbar-toggler-icon"></span>
              </button>

               <!-- /Button response -->
                 
              
              
            </nav>
          <!--/Navbar--> 
          
      </div>
      <!--/Container-->
      <!-- Razdvajanje menija od sadrzaja-->
    </div>
    <!--/Navigacija------------------------------------------------------------------------------------------------------------------>




    <div class="container text-center"> <b class="h2"> Svi korisnici </b> </div>
    <hr class="container" style="background-color: rgb(0, 25, 134);">
    <div class="container mb-3 mt-2">Ukupno korisnika : <b><%-ukupno%></b></div>


    <!-- Izlistavanje svih korisnika -->
        <div class="container">

            <!-- Tabela-->
            <table class="table table-striped text-white table-responsive-sm " style="border-width: 0px;" >
               


                <!-- Naslov -->
                <thead class=" ">
                <!-- Podaci za prikaz -->
                  <tr>
                   
                    <th scope="col"><i class="fas fa-user"></i></i></th>
                    <th scope="col">Ime i prezime</th>
                    <th scope="col">Broj oglasa na koje se prijavio</th>
                    <th scope="col">Broj oglasa koje je postavio</th>
                  </tr>
                <!-- /Podaci za prikaz -->
              
                <!-- Prazan prostor -->
                  <tr style="background-color: #46464600;">
                    <td colspan="6"></td>
                  </tr>
                <!-- /Prazan prostor -->
                </thead>
                <!-- /Naslov -->
                <% for(korisnik of korisnici ) {%>
                <!-- Telo -->
                <tbody>
                <!-- Podaci o korisniku-->
                  <tr>
                    <th scope="row">#</th>
                    <td><a href = '/svi_korisnici/profil/<%-korisnik.id%>'><%-korisnik.ime%> <%-korisnik.prezime%></a></td>
                    <td><%-korisnik.br_prijavljenih%></td>
                    <td><%-korisnik.br_postavljenih%></td>
                  </tr>
                <!-- /Podaci o korisniku-->

               
                </tbody>
                <!-- Telo -->
                <% } %>
              </table>
              <!-- /Tabela -->

        </div>
    <!-- /Izlistavanje svih korisnika -->







  <!-- Paginacija -->
    <nav>
      <!-- Telo paginacije-->
      <ul class="pagination justify-content-center mt-5    ">

          <!-- Prethodna -->
          <%if (strana != 1) {%>
          <form action="/svi_korisnici" method="GET" >
              
              <button class="btn text-white bg-dark" name = 'strana' value= <%-prethodnaStrana%> >Prethodna</button> 
             


             
              
          </form>
          <%}%>
          <!-- Prethodna -->

          <% if(ucitani>=10){ %>
          <!-- Trenutna -->
          <li class="page-item active "><a class="btn page-link text-warning bg-dark" href="#"><%-strana%></a></li>
          <!-- Trenutna -->

         
          <!-- Sledeća -->
          <form action="/svi_korisnici" method="GET" >
              <button class="btn text-white bg-dark" name = 'strana' value= <%-sledecaStrana%> >Sledeća&nbsp;&nbsp;&nbsp;&nbsp;</button> 
                 
          </form>
          <!-- /Sledeća -->
          <% } %>
      </ul>
      <!-- /Telo paginacije-->
    </nav>
  <!-- /Paginacija -->










    

       
      <!-- Footer -->
      <div class="container-fluid fixed-bottom small footer " style=" margin: 1px; padding: 10px; border-top: rgb(117, 117, 117) 2px solid;">
        <!-- Linija -->
      
        <div class="row text-center">
            <div class="col-lg-4 col-sm-4 text-">
                nikolavlad63@gmail.com
            </div>
            <div class="col-lg-4 col-sm-4 text">
                Web oglasi za posao - 2020 <sup>&copy</sup> 
            </div>
            
            <div class="col-lg-4 col-sm-4">
                <a href="https://instagram.com/__nik0lv?igshid=1lzhwdmj6zw2o&amp;fbclid=IwAR3qzJemENnY9hk63ATgLgRVBJM-xfb940iFVN8ZRxBRqSKJ6kYHrtHd25A"><i class="fab fa-instagram ml-3" style="color:blueviolet"></i></a>
                <a href="https://www.facebook.com/nikola.vladimirov.589/"><i class="fab fa-facebook ml-3"></i></a>
            </div>
        </div>
    </div>
    <!-- Footer -->





</body>